.answerSection {  
  display: flex;
  justify-content: center;
  overflow: auto;
  flex-direction: column;
}

.userInput {
  background-color: rgb(235, 233, 233);
  padding: 25px;
  border-radius: 25px;
  margin-left: 10%;
}