.answerSection {  
  display: flex;
  justify-content: center;
  /* overflow-y: auto; */
  flex-direction: column;
  /* flex: 1; */
}

.userInput {
  background-color: rgb(235, 233, 233);
  padding: 25px;
  border-radius: 25px;
  margin-left: 10%;
   /* padding-top: 50px; */
}